<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/FxTesting1/src/FxTesting1/app/FxTestingApplication.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="FxTesting1.app.FxTestingApplication"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="FxTesting1"/>
</launchConfiguration>
